.accordion__toggle {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: $dark;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  padding-top: 43px;
  padding-left: 38px;
  padding-right: 545px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: $brown;
  }

  &:active {
    color: $grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 48px;
    width: 17px;
    height: 9px;
    background-image: url("../img/arrow-up-icon.svg");
    background-repeat: no-repeat;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      top: 24px;
      right: 26px;
    }
  }

  @media (max-width: $desktop-width) {
    padding-left: 50px;
    margin-bottom: 26px;
    padding-right: 172px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 22px;
    width: 207px;
    padding-left: 25px;
    padding-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    padding-right: 0;
  }
}

.accordion__toggle--inactive::after {
  background-image: url("../img/arrow-down-icon.svg");
}

.accordion__pane--hidden {
  display: none;
}
