.blog {
  padding-bottom: 80px;

  @media (max-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.blog h3 {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: $dark;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}

.blog p {
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;

  @media (max-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.blog__container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog__wrapper {
  display: flex;
  max-width: 570px;
  flex-direction: column;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
    max-width: 678px;
  }
}

.blog__item {
  display: flex;
  margin-bottom: 30px;

  @media (max-width: $desktop-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.blog__item img {
  @media (max-width: $desktop-width) {
    width: 339px;
    object-fit: cover;
    height: 300px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    height: 256px;
  }
}

.blog__text {
  width: 285px;
  padding-top: 67px;
  padding-bottom: 47px;
  background-color: $light-grey;

  @media (max-width: $desktop-width) {
    width: 339px;
  }

  @media (max-width: $tablet-width) {
    order: 2;
    width: 290px;
    padding-top: 45px;
    height: 256px;
    padding-bottom: 59px;
  }
}

.blog__text--box {
  @media (max-width: $desktop-width) {
    padding-top: 84px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 62px;
  }
}

.blog__text span {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.blog__text h3 {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: $black;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.blog__text p {
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  text-align: center;
  margin: 0;
  padding: 0;
}

.blog__box .blog__text {
  margin-left: -285px;
  margin-top: 330px;

  @media (max-width: $desktop-width) {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 76px;
  }
}

.blog__box {
  @media (max-width: $desktop-width) {
    margin: 0 auto;
  }
}
