.catalog-title {
  background-image: url("../img/catalog-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.catalog-title__wrapper {
  background-color: rgba($light-brown, 0.7);
  padding-top: 102px;
  padding-bottom: 102px;

  @media (max-width: $tablet-width) {
    padding-top: 89px;
    padding-bottom: 89px;
  }
}

.catalog-title__wrapper h3 {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.catalog-title__wrapper p {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 22px;
  line-height: 29px;
  color: $white;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    line-height: 26px;
    width: 247px;
    margin: 0 auto;
  }
}
