.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 6px;

  @media (max-width: $desktop-width) {
    margin-top: 46px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 162px;
    margin-top: 0;
  }
}

.contacts__item {
  display: flex;
  width: 115px;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.contacts__link {
  font-size: 16px;
  line-height: 21px;
  color: $white;
  text-decoration: none;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.contacts__item--pinterest {
  width: 101px;
}

.contacts__item--twitter {
  width: 85px;
}

.contacts__link-icon img {
  @media (max-width: $tablet-width) {
    width: 20px;
    height: 21px;
  }
}

.contacts__link-icon--facebook img {
  @media (max-width: $tablet-width) {
    width: 12px;
  }
}
