.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 6px;

  @media (max-width: $desktop-width) {
    margin-top: 46px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 162px;
    margin-top: 0;
  }
}

.contacts__item {
  display: flex;
  width: 130px;
  justify-content: space-between;
  margin-bottom: 21px;
  align-items: center;
}

.contacts__link {
  width: 130px;
  font-size: 16px;
  line-height: 21px;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $brown;
  }

  &:active {
    color: $grey;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.contacts__link-icon {
  margin-right: 15px;

  @media (max-width: $tablet-width) {
    width: 20px;
    height: 21px;
  }
}

.contacts__link-icon--facebook {
  @media (max-width: $tablet-width) {
    width: 12px;
  }
}
