.filter {
  width: 250px;
  margin-right: 50px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.filter--open {
  @media (max-width: $desktop-width) {
    display: block;
    position: absolute;
    background-color: $white;
    width: 290px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    opacity: 1;
    visibility: visible;
  }
}

.filter__container {
  border: 1px solid $brown;
  margin-bottom: 30px;
}

.filter__item {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $brown;

  &:last-child {
    border-bottom: 0;
  }
}

.filter__legend {
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  padding-top: 23px;
  padding-left: 25px;
  padding-right: 100px;
  padding-bottom: 13px;
  margin-bottom: 0;

  &::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 23px;
    width: 17px;
    height: 9px;
    cursor: pointer;
  }
}

.filter__legend--second {
  padding-top: 23px;
  padding-bottom: 22px;
}

.filter__legend--second::after {
  top: 28px;
  right: 23px;
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 58px;
  padding-bottom: 26px;
}

.filter__list-item label {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: $dark;
}

.filter__list-item input + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -24px;
  border: 1px solid $brown;
  width: 15px;
  height: 15px;
  background-color: transparent;
}

.filter__list-item input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -24px;
  width: 15px;
  height: 15px;
  background-color: $brown;
}

.filter__button {
  width: 250px;
  background-color: $brown;
  color: $white;
  font-size: 16px;
  line-height: 21px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  display: block;
  margin-bottom: 15px;
  border: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $desktop-width) {
    width: 290px;
  }
}

.filter__button--clear {
  background-color: $white;
  color: $dark;
  border: 1px solid $brown;

  &:hover {
    color: $brown;
  }

  &:active {
    color: $grey;
  }
}

.filter__range {
  width: 250px;
  padding-bottom: 17px;
}

.filter__range-controls {
  position: relative;
  height: 41px;
  margin-bottom: -22px;
  padding-top: 4px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.filter__scale {
  height: 2px;
  background: #f0eae4;
}

.filter__bar {
  width: 42%;
  margin-left: 30%;
  height: 2px;
  background: $brown;
}

.filter__toggle {
  position: absolute;
  top: -3px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid $brown;
  background-color: $brown;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter__range-price {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-left: 61px;
}

.filter__range-price span {
  font-size: 14px;
  line-height: 18px;
  color: $dark;
}

.filter__toggle--min {
  left: 69px;
}

.filter__toggle--max {
  left: 173px;
}

.filter__button-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 32px;
  height: 32px;
  background-image: url("../img/white-cross.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
  }
}
