.filter {
  width: 250px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.filter--open {
  @media (max-width: $desktop-width) {
    display: block;
    position: absolute;
    background-color: $white;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    opacity: 1;
    visibility: visible;
  }
}

.filter__container {
  border: 1px solid $brown;
  margin-bottom: 35px;
}

.filter__item {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  border-bottom: 1px solid $brown;

  &:last-child {
    border-bottom: 0;
  }
}

.filter__legend {
  font-size: 16px;
  line-height: 21px;
  color: $dark;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 20px;
    width: 17px;
    height: 9px;
    background-image: url("../img/arrow-up-icon.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.filter__legend--inactive::after {
  background-image: url("../img/arrow-down-icon.svg");
}

.filter__list {
  list-style: none;
}

.filter__list-item label {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: $dark;
}

.filter__list-item input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  border: 1px solid $brown;
  width: 15px;
  height: 15px;
  background-color: transparent;
}

.filter__list-item input:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 15px;
  height: 15px;
  background-color: $brown;
}

.filter__button {
  width: 250px;
  background-color: $brown;
  color: $white;
  font-size: 16px;
  line-height: 21px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  display: block;
  margin-bottom: 21px;
  border: none;
}

.filter__button--clear {
  background-color: $white;
  color: $dark;
  border: 1px solid $brown;
}

.filter__range {
  width: 250px;
}

.filter__range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.filter__scale {
  height: 2px;
  background: #f0eae4;
}

.filter__bar {
  width: 42%;
  margin-left: 30%;
  height: 2px;
  background: $brown;
}

.filter__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid $brown;
  background-color: $brown;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter__range-price {
  display: flex;
  justify-content: space-between;
  width: 187px;
  padding-left: 77px;
}

.filter__range-price span {
  font-size: 14px;
  line-height: 18px;
  color: $dark;
}

.filter__toggle--min {
  left: 80px;
}

.filter__toggle--max {
  left: 160px;
}

.filter__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  background-image: url("../img/cross-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
  }
}
