.images {
  padding-bottom: 131px;

  @media (max-width: $desktop-width) {
    padding-bottom: 79px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 71px;
  }
}

.images h3 {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: $dark;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @media (max-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.images a {
  display: block;
  text-decoration: none;
  width: 76px;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 60px;
  border-bottom: 1px solid $brown;
  padding-bottom: 4px;

  &:hover {
    color: $brown;
  }

  &:active {
    color: $grey;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 46px;
  }
}

.images__container {
  max-width: 1210px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 230px 399px 230px 230px;
  gap: 34px 27px;

  @media (max-width: $desktop-width) {
    max-width: 678px;
    grid-template-columns: 133px 231px 133px 133px;
    gap: 20px 16px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $tablet-width) {
    max-width: 290px;
    grid-template-columns: 133px 133px;
    gap: 27px 24px;
  }
}

.images__container img {
  display: block;

  @media (max-width: $desktop-width) {
    object-fit: cover;
  }
}

.images__block-first {
  @media (max-width: $desktop-width) {
    width: 133px;
    height: 133px;
  }
}

.images__block-second {
  @media (max-width: $desktop-width) {
    width: 133px;
    height: 87px;
  }
}

.images__model {
  @media (max-width: $desktop-width) {
    width: 231px;
    height: 240px;
  }

  @media (max-width: $tablet-width) {
    width: 133px;
    height: 247px;
  }
}

.images__container .images__pictures--first {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.images__pictures--bigger {
  grid-row: 1 / 3;
  grid-column: 2;
}
