.main-nav {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header--opened .main-nav {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.page-header--nojs .main-nav {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.main-nav label {
  display: none;

  @media (max-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.page-header--opened .main-nav label {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.page-header--nojs .main-nav label {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.main-nav input {
  max-width: 678px;
  width: 100%;
}

.main-nav__menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 45px;
}

.page-header--opened .main-nav__menu {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.page-header--nojs .main-nav__menu {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.main-nav__menu-link {
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: rgba($white, 0.75);
}

.main-nav__login {
  display: none;
  padding-left: 45px;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: $white;
}

.page-header--opened .main-nav__login {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.page-header--nojs .main-nav__login {
  @media (max-width: $desktop-width) {
    display: block;
  }
}
