.page-header {
  width: 100%;
  z-index: 2;
}

.page-header--opened {
  @media (max-width: $desktop-width) {
    background-color: $brown;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.page-header--nojs {
  @media (max-width: $desktop-width) {
    background-color: $brown;
    position: relative;
  }
}

.page-header__wrapper {
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $desktop-width) {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.page-header__form label {
  padding-left: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 22px;
    left: 0;
    background-image: url("../img/loupe-icon.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__form input {
  border: none;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  width: 160px;
}

.page-header__form input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: $grey;
}

.page-header__logo {
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $desktop-width) {
    margin-left: auto;
  }
}

.page-header__logo-icon {
  fill: $brown;

  @media (max-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.page-header--opened .page-header__logo-icon {
  fill: $white;
}

.page-header__login-wrapper {
  width: 193px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__login {
  display: flex;
  width: 128px;
  justify-content: space-between;
  margin-left: auto;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__login-link {
  color: $dark;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  padding-top: 12px;
  display: block;
  padding-right: 10px;
  padding-left: 10px;

  &:hover {
    color: $brown;
  }

  &:active {
    color: $grey;
  }
}

.page-header__cart-link {
  color: $dark;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  padding-top: 12px;
  display: block;
  padding-right: 10px;
  padding-left: 10px;

  &:hover {
    color: $brown;
  }

  &:active {
    color: $grey;
  }
}

.page-header__toggle {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 20px;
  margin-left: 45px;
  background-image: url("../img/burger-icon.svg");
  background-repeat: no-repeat;
  align-self: center;

  @media (max-width: $desktop-width) {
    display: block;
  }

  @media (max-width: $tablet-width) {
    margin-left: 15px;
  }
}

.page-header--opened .page-header__toggle {
  @media (max-width: $desktop-width) {
    background-image: url("../img/burger-icon-white.svg");
  }
}

.page-header__cart {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
    padding-right: 45px;
    padding-top: 16px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 15px;
    padding-top: 9px;
  }
}

.page-header__cart-icon {
  fill: $white;
  stroke: $dark;
}

.page-header--opened .page-header__cart-icon {
  stroke: $white;
  fill: $brown;
}
