.page-header {
  width: 100%;
}

.page-header--opened {
  @media (max-width: $desktop-width) {
    background-color: $brown;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.page-header--nojs {
  @media (max-width: $desktop-width) {
    background-color: $brown;
    position: relative;
  }
}

.page-header__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  @media (max-width: $desktop-width) {
    padding-bottom: 25px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.page-header__wrapper label {
  padding-left: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 15px;
    left: 0;
    background-image: url("../img/loupe-icon.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__wrapper input {
  border: none;
  width: 143px;
}

.page-header__wrapper input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: $grey;
}

.page-header__logo {
  padding-right: 53px;

  @media (max-width: $desktop-width) {
    padding-right: 0;
    padding-left: 50px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 21px;
  }
}

.page-header__logo img {
  @media (max-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.page-header__login {
  display: flex;
  width: 119px;
  justify-content: space-between;
  color: $dark;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__toggle {
  display: none;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 45px;
    width: 25px;
    height: 20px;
    background-image: url("../img/burger-icon.svg");
    background-repeat: no-repeat;

    @media (max-width: $tablet-width) {
      top: 17px;
      left: 15px;
    }
  }

  @media (max-width: $desktop-width) {
    display: block;
  }
}

.page-header--opened .page-header__toggle::before {
  @media (max-width: $desktop-width) {
    background-image: url("../img/burger-icon-white.svg");
  }
}

.page-header__cart {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
    padding-right: 45px;
    padding-top: 16px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 15px;
    padding-top: 9px;
  }
}

.page-header__cart-icon {
  fill: $white;
  stroke: $dark;
}

.page-header--opened .page-header__cart-icon {
  stroke: $white;
  fill: $brown;
}
