.pagination {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 31px;
  align-items: center;

  @media (max-width: $tablet-width) {
    margin-top: 7px;
  }
}

.pagination__scroll {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.pagination__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 129px;
  margin: 0;
  padding: 0;
  padding-right: 32px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (max-width: $tablet-width) {
    width: 137px;
    padding-right: 0;
  }
}

.pagination__number {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: $grey;
  margin: 0;
  padding: 0;
}

.pagination__number--active {
  color: $dark;
}
