.pagination {
  border-top: 1px solid $border-grey;

  @media (max-width: $tablet-width) {
    border-top: none;
  }
}

.pagination-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  margin-top: 31px;
  align-items: center;
  padding-left: 300px;
  padding-bottom: 70px;

  @media (max-width: $desktop-width) {
    max-width: 678px;
    padding-left: 0;
  }

  @media (max-width: $tablet-width) {
    margin-top: 7px;
    padding-bottom: 65px;
  }
}

.pagination__scroll {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.pagination__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 138px;
  margin: 0;
  padding: 0;
  margin-left: 298px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $desktop-width) {
    margin-left: 202px;
  }

  @media (max-width: $tablet-width) {
    width: 177px;
    margin: 0 auto;
  }
}

.pagination__number {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: $grey;
  margin: 0;
  padding: 0;
}

.pagination__number--active {
  color: $dark;
}
