.site-list {
  max-width: 560px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 18px;

  @media (max-width: $desktop-width) {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 45px;
    margin-top: 48px;
  }
}

.site-list--product {
  padding-bottom: 17px;
}

.site-list li {
  @media (max-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.site-list__link {
  font-size: 16px;
  line-height: 24px;
  color: $dark;
  text-decoration: none;
  margin-right: 33px;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    line-height: 36px;
    color: $white;
  }
}
