.slider {
  position: relative;
  padding-top: 130px;
  padding-bottom: 173px;
  max-width: 1170px;

  @media (max-width: $desktop-width) {
    padding-bottom: 109px;
    max-width: 678px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 67px;
    max-width: 290px;
  }
}

.slider h3 {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: $dark;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.slider p {
  font-size: 16px;
  line-height: 21px;
  color: $dark;
  text-align: center;
  margin: 0;
  padding: 0;
}

.slider__item img {
  @media (max-width: $desktop-width) {
    width: 324px;
    height: 340px;
    object-fit: cover;
  }

  @media (max-width: $tablet-width) {
    width: 130px;
    height: 136px;
  }
}

.slider__dots {
  display: flex;
  margin: 0 auto;
  max-width: 48px;
  justify-content: space-between;
}

.slider__dots span {
  font-size: 16px;
  line-height: 21px;
  color: $dark;
}

.swiper-button-prev {
  position: absolute;
  left: 50px;
  top: 150px;
  background-image: url("../img/arrow-left-icon.svg");
  background-repeat: no-repeat;
  width: 29px;
  height: 10px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.swiper-button-next {
  position: absolute;
  right: 50px;
  top: 150px;
  background-image: url("../img/arrow-right-icon.svg");
  background-repeat: no-repeat;
  width: 29px;
  height: 10px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
