@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local("Cormorant Garamond-regular-italic"),
    url("../fonts/cormorant-garamond-v10-latin-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: local("Cormorant Garamond-500-italic"),
    url("../fonts/cormorant-garamond-v10-latin-500italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin-500italic.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Cormorant Garamond-600"),
    url("../fonts/cormorant-garamond-v10-latin-600.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Cormorant Garamond-700"),
    url("../fonts/cormorant-garamond-v10-latin-700.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Poppins-regular"),
    url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Poppins-500"),
    url("../fonts/poppins-v15-latin-500.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Poppins-700"),
    url("../fonts/poppins-v15-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-700.woff") format("woff");
}
